
.bg-1{ 
    
    background-image: url('http://www.shunvmall.com/data/out/18/47264986-background-image.jpg');
    background-size: cover;
}
#d1{visibility:hidden;
padding 50px 10px 20px 10px;
}
#f1{visibility:hidden;
padding:30px 30px 20px 30px;}
