
bg-1{ 
    background-color:green;
    background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ3wViDfWynmLll6f2zFPNYpLqe4XavT03yP0J6fydrYhiXYKPC);
    background-size: cover;
}
#d1{visibility:hidden;
padding 50px 10px 20px 10px;
}
#f1{visibility:hidden;
padding:30px 30px 20px 30px;}
