
.bg-1{ 
    
    background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSh3----fYqNPTH4ScllA7jWHsot6T3iwUj_zGN_aK1RAQNpFywaQ');
    background-size: cover;
}
#d1{visibility:hidden;
padding 50px 10px 20px 10px;
}
#f1{visibility:hidden;
padding:30px 30px 20px 30px;}
